* {
  margin: 0;
  padding: 0; }

.Footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "logo_Twitter logo_Facebook logo_Email logo_Instagram" "logo_Twitter logo_Facebook logo_Email logo_Instagram" "logo_Twitter logo_Facebook logo_Email logo_Instagram";
  grid-area: Footer;
  background-color: #39162d; }

.logo_Twitter {
  grid-area: logo_Twitter; }

.logo_Facebook {
  grid-area: logo_Facebook; }

.logo_Instagram {
  grid-area: logo_Instagram; }

.logo_Email {
  grid-area: logo_Email; }

.col {
  border: solid 1px; }

.imagen_Fondo {
  width: 190px;
  height: 140px; }

.container {
  display: grid;
  grid-template-columns: 1.1fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "header" "main" "footer"; }

.header {
  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas: "imagen_Logo navbar";
  grid-area: header; }

.imagen_Logo {
  grid-area: imagen_Logo; }

.navbar {
  grid-area: navbar; }

.navbar {
  display: flex;
  align-items: center;
  justify-content: center; }

.Imagen_Logo {
  display: flex;
  align-items: center;
  justify-content: center; }

.Imagen_Logo img {
  grid-area: Imagen_Logo;
  width: 150px;
  height: 100px; }

.navbar {
  grid-area: navbar;
  display: flex;
  justify-content: flex-start; }

.navbar__Items {
  display: flex; }

.navbar__Items__Lista {
  display: flex;
  align-items: center;
  column-gap: 100px; }

.nav-link:hover {
  cursor: pointer;
  border: solid 3px rgba(57, 7, 57, 0.723);
  text-shadow: 0 0 5px #f283e8; }

.Imagen_Logo {
  background-color: #39162d; }

.main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas: "portada_Index" "imagenes_Home" "texto";
  grid-area: main;
  background-color: antiquewhite; }

.imagenes_Home {
  grid-area: imagenes_Home;
  display: flex; }

.imagenes_Home img {
  width: 400px;
  height: 200px; }

.texto {
  grid-area: texto;
  color: rgba(62, 14, 50, 0.721);
  font-size: 24px; }

h1 {
  font-size: 50px;
  color: #310329;
  font-family: 'Playfair Display', serif; }

.home {
  background-color: #885785; }

.col-md-8 {
  background-color: #f5fbda; }

.car-body {
  background-color: #806997; }

.col-md-4 {
  background-color: #e6efbc; }

.d-block {
  grid-area: imagenes_Home;
  display: flex;
  width: 400px;
  height: 550px; }

.d-block01 {
  grid-area: imagenes_Home;
  display: flex;
  width: 300px;
  height: 600px; }

.imagen_Ingresomuseo {
  grid-area: imagenes_Home;
  display: flex;
  width: 400px;
  height: 400px; }

.top_Mainmuseo {
  background-color: #770d70; }

/* Contacto */
.main_Formulario {
  background-color: #ba66b5; }

.main_Formulario {
  padding: 20px 20px 0px 10px; }
