*{
    margin: 0;
    padding: 0;
}
/* BIOGRAFÍA */
/* Header */

  .navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Imagen_Logo{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Imagen_Logo img{ 
    grid-area: Imagen_Logo;
    

    width: 150px;
    height: 100px;

  }
  
  .navbar { 
    grid-area: navbar;
    display: flex;
    justify-content: flex-start;
  }

  .navbar__Items{
    display: flex;
  }
  .navbar__Items__Lista{
    display: flex;
    align-items: center;
    column-gap: 100px;
  }

  .nav-link:hover{
    cursor: pointer;
    border: solid 3px rgba(57, 7, 57, 0.723);
    text-shadow: 0 0 5px rgb(242, 131, 232);
  }


  .img-fluid rounded-start {
   display: flexbox;
   justify-content: center;
}

.col-md-4 {
  display: flex;
}

.Footer {  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo_Twitter logo_Facebook logo_Email logo_Instagram"
      "logo_Twitter logo_Facebook logo_Email logo_Instagram"
      "logo_Twitter logo_Facebook logo_Email logo_Instagram";
    grid-area: Footer;
    background-color: rgb(57, 22, 45);
  }
  
  .logo_Twitter { grid-area: logo_Twitter; }
  
  .logo_Facebook { grid-area: logo_Facebook; }
  
  .logo_Instagram { grid-area: logo_Instagram; }
  
  .logo_Email { grid-area: logo_Email; }


/* Index */ 

.col{
  border: solid 1px ;
}

.imagen_Fondo{

width: 190px;
height: 140px;
}

.container {  display: grid;
  grid-template-columns: 1.1fr;
  grid-template-rows: 0.5fr 2.1fr 0.4fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header {  display: grid;
  grid-template-columns: 0.6fr 1.4fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "imagen_Logo navbar";
  grid-area: header;
}

.imagen_Logo { grid-area: imagen_Logo; }

.navbar { grid-area: navbar; }

.main {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "portada_Index"
    "imagenes_Home"
    "texto";
  grid-area: main;
  background-color: antiquewhite;
}
.portada_Index img { grid-area: portada_Index; 
  width: 100%;
  height: 700px;
  border: solid 5px color black;
  border-radius: 15px;
}

.imagenes_Home { 
  grid-area: imagenes_Home; 
  display: flex;
}
.imagenes_Home img{
  width: 400px;
  height: 200px;
}

.texto { grid-area: texto;
color: rgba(62, 14, 50, 0.721);
font-size: 24px; 
}


h1{
  font-size: 50px;
  color: rgb(49, 3, 41);
  font-family: 'Playfair Display', serif;
}

h2{
    color: rgb(27, 5, 23);

}

h3{
  background: rgb(122, 87, 148);
  margin: 10px 10px 0px 10px;
  padding: 30px;
  border: solid 1px black;
  font-family: 'Playfair Display', serif;
}



   MUSEO 
/* Header */

 .top_Headermuseo{
    background-color: rgba(241, 190, 227, 0.951);
} 

.Imagen_Logo{
  background-color: rgb(57, 22, 45);
}

.top_Mainmuseo{
  background-color: rgb(124, 44, 119);

} 

.museo-text{
  grid-area: texto;
    color: black;
    font-size: 24px; 
  }


@media only screen and (max-width: 360px) {
    
  .top_Main{
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }

  .top_Footer{
      width: 100%;
      max-width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
  }
  
}

.carousel-item img{
width: 50px;
height: 600px;
}
.main_Oliteraria{
  margin: 5px 5px 5px 5px;
  background-color: rgb(58, 9, 55);
}

/* Contacto */

.main_Formulario{
  background-color: rgb(186, 102, 181);
  
}


estructura

ul{
  list-style:none;
  li{
      background-color: rgb(97, 17, 97);
      a{
          display: block;
          &:hover{
              color:rgb(224, 132, 20)

          }
      }
  }
}

section {

  h2{
      font-size: 24px;
  }
  p {
      font-family: Arial, Helvetica, sans-serif;
  }
}


decoracion


div{
  &.footer {
      background-color: rgb(97, 17, 97);
  }
}

