.imagenes_Home { 
  grid-area: imagenes_Home; 
  display: flex;
}
.imagenes_Home img{
  width: 400px;
  height: 200px;
}

.texto { grid-area: texto;
color: rgba(62, 14, 50, 0.721);
font-size: 24px; 
}


h1{
  font-size: 50px;
  color: rgb(49, 3, 41);
  font-family: 'Playfair Display', serif;
}


.home{
  background-color: rgb(136, 87, 133);
  display: flex;
  justify-content: center;
}

.col-md-8{
  background-color: rgb(245, 251, 218);
}

.car-body{
  background-color: rgb(128, 105, 151);
}

.col-md-4{
  background-color: rgb(230, 239, 188);
}
