.d-block {
    grid-area: imagenes_Home; 
    display: flex;
    width: 400px;
    height: 550px;
}

.d-block01{
    grid-area: imagenes_Home; 
    display: flex;
    width: 300px;
    height: 600px;
}
.main_Oliteraria{
    background-color: rgb(119, 13, 112);
}


